.bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-filter-container {
  display:flex;
  align-items: center;
  background-color:$portland-orange;
  width: 100%;
  input, select {
    margin: 0;
  }
  .book-search-bar, .book-sort-bar {
    padding: 0.8em 1em;
    width: 250px;
  }
  box-shadow: $box-shadow-sm;
}

.bookshelf-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1800px;
}

.book-tile {
  margin: 1em; 
  border-radius: 10px;
  box-shadow: $box-shadow-lg;
  height: 300px;
  width: 250px;
  overflow: auto;
  background-color: $violet;
}

.book-tile-top {
  background-color: white;
  margin: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-tile-img {
  padding: 1em;
  height: 150px;
}

.book-tile-bottom {
  background-color: $violet;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.book-tile-bottom-content {
  text-align: center;
  color: white;
  padding: 1em;
  .book-tile-title {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 120%;
  }  
  .book-tile-author {
    font-size: .9em;
  }
}

