.calendar {
  margin: 1em;
  height: 90vh;
}

.calendar-header {
  display: flex;
  background-color: $violet;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}

.month {
  font-family: $sans-serif;
  font-size: 2em;
  margin: 0 .5em;
  text-align: center;
  font-weight: bold;
  color: white;
}

.month-btn {
  margin: .3em; 
  padding: .3em .5em .5em .5em;
  background-color: $portland-orange;
  border-radius: 10px;
  color: white;
  box-shadow: $box-shadow-sm;
} 

.weekday-container {
  border: 1px solid darken($violet, 15%);
  background-color: darken($violet, 15%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  margin-bottom: 0;
  padding: 1em;
}

.days-container {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  border: 0.5px solid darken($violet, 15%);
}

.weekday-marker {
  text-align: center;
}

.calendarDay {
  display: flex;
  border: 0.5px darken($violet, 15%) solid;
  padding: 0.5em;
  align-items: start;
  justify-content: start;
  height: 13vh;
  position: relative;
  background-color: white;
}

.active:hover {
  background-color: #fff4f1;
}

.minutes-wrapper {
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.calendar-minute {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 3;
  color: $indigo;
  text-align: center;
  margin-top: 3px;
  font-size: .8em;
}

.calendar-star {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2;
  color: $mango;
}

.dateNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  color: darken($violet, 15%);
}

.other-month {
  color: lighten($violet, 15%);
}

.today {
  display: flex;
  background-color: $portland-orange;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  color: white;
}

.disabled {
  background-color: #f8f5fb;
}