$primary: #004643;
$stroke: #001e1d;
/*$lightest: #e8e4e6;*/
/*$highlight: #f9bc60;*/
/*$secondary: #abd1c6;*/
/*$tertiary: #e16162;*/

$fern-green: #4D7B37;
$copper-red: #D3654F;
$green-sheen: #68B8A7;
$mango: #FABB00;
$melon: #F0AFA3;
$champagne: #F3E2C8;
$snow: #FFFCFA;
$pthalo: #043127;
$isabelline: #ede5da;
$dark-blue-green: #1b7b7d; 


$line: $pthalo;
$line-secondary: $dark-blue-green;
$secondary: $copper-red;
$lightest: white;
$tertiary: $green-sheen;
$tertiary2: $fern-green;
$light-secondary: $melon;
$highlight: $mango;

$light-gray: rgb(234, 234, 234);
$bright-pink: rgb(228, 0, 221);
$bright-pink-secondary: rgb(185, 0, 179);
$dull-pink: rgb(249, 215, 248);
$bright-green: rgb(4, 197, 4);
$bright-green-secondary: rgb(3, 139, 3);
$bright-blue: rgb(0, 195, 255);
$bright-blue-secondary: rgb(4, 151, 195);
$purple: rgb(119, 0, 149);
$purple-secondary: rgb(86, 0, 107);

$portland-orange:#FF5733;
$brick-red: #D5465C;
$fandango: #AB3585;
$violet: #8023AD;
$ksu-purple: #5A2790;
$indigo: #2D005D;
$web: #EAEFFF;

$background: $web;

$box-shadow-sm: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-lg: rgba(0, 0, 0, 0.24) 0px 3px 8px;