$light-orange: #fccabc;
$portland-orange:#FF5733;
$brick-red: #D5465C;
$fandango: #AB3585;
$violet: #8023AD;
$ksu-purple: #5A2790;
$indigo: #2D005D;
$web: #EAEFFF;
$mango: #FABB00;


$box-shadow-sm: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-lg: rgba(0, 0, 0, 0.24) 0px 3px 8px;