.reading-session-bottom {
  margin: 1em;
}

.form-container {
  margin: 1em;
  background-color: $secondary;
  padding: 1em;
  font-family: $sans-serif;
}

.add-read-header {
  color: $stroke;
  font-size: 2em;
  font-weight: bold;
  font-family: $sans-serif;
}

.search-submit-container {
  display: flex;
  .search-input {
    width: 300px;
    margin-right: 1em;
  }
  .search-submit {
    width: 100px;
    height: 2.5em;
  }
}

.minutesRead {
  width: 200px;
}

.reading-session-tile {
  display: flex;
  background-color: $secondary;
  margin: .5em;
  border: 2px solid $stroke;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: $highlight;
  border: 2px solid $stroke;
  padding: 0.3em .5em;
  color: $stroke;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}
.session-thumbnail {
  width: 100px;
  margin: 1em;
  padding: .5em;
  background-color: $stroke;
}

.tile-right {
  margin: 1em;
  padding: 0;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.author {
  padding: .2em 0 .4em 0;
}

.minutes {
  font-size: 1.3em;
  span {
    background-color: $highlight;
    padding: 0 .3em;
    font-weight: bold;
  }
}


