.reading-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-header {
  font-family: $headline;
  padding: 1em 1em 0.3em 1em;
  color: $indigo;
  font-size: 2.2em;
  text-align: center;
}

.rt-header {
  font-family: $sans-serif;
  color: $indigo;
  padding: 0.3em 1em;
  font-size: 2em;
  margin-top: -.8em;
  text-align: center;
}

.reading-session-bottom {
  margin: 1em;
  min-width: 1400px;
}

.form-container {
  margin: 1em;
  background-color: white;
  padding: 1em;
  font-family: $sans-serif;
  max-height: 500px;
  min-width: 600px;
  box-shadow: $box-shadow-lg;
  padding: 3em;
  border-radius: 10px;
}

.reading-session-list {
  min-width: 200px;
}

.add-read-header {
  color: $violet;
  font-size: 2em;
  font-weight: bold;
  font-family: $sans-serif;
}

.add-book-form {
  margin-bottom: 1em;
}

.search-submit-container {
  display: flex;
  align-items: center;
  .search-input {
    width: 300px;
    margin: 0 1em 0 0;
  }
  .search-submit {
    width: 100px;
    height: 2.5em;
  }
}

.search-icon {
  color: $portland-orange;
}

.search-icon:hover {
  color: darken($portland-orange, 15%);
  cursor: pointer;
}

.minutesRead {
  width: 200px;
}

.option {
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  .option-title {
    font-weight: bold;
  }
  .option-image {
    height: 2.5em;
    margin: 0.5em;
  }
  .indicate-prior-book {
    font-weight: bold;
    color: $portland-orange;
  }
}

