.auth-callout {
  background-color: white;
  margin: 4em auto;
  padding: 2em 4em;
  box-shadow: $box-shadow-lg;
  border-radius: 10px;
  width: 800px;
}

.auth-header {
  font-family: $headline;
  margin-bottom: 1em;
  color: $ksu-purple;
}

.auth-form {
  margin-bottom: 1em;
}

.submit-wrapper {
  margin-top: 2em;
}