
@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.badge-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.small-badge-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $sans-serif;
}

.badge {
  display: flex;
  justify-content: center;
	position: relative;
	margin: 1.5em 3em;
	width: 4em;
	height: 6.2em;
	border-radius: 10px;
	top: 0;
	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}
	&:before {
		transform: rotate(60deg);
	}
	&:after {
		transform: rotate(-60deg);
	}
	.circle {
		width: 30px;
		height: 30px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;
		.initial {
			font-size: 2em;
      font-weight: bold;
		}
	}	
	.ribbon {
		position: absolute;
		border-radius: 4px;
		padding: 2px;
		z-index: 11;
		color: #fff;
		bottom: 4px;
    width: 200%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
		text-transform: uppercase;
		background: linear-gradient(to bottom right, #555 0%, #020202 100%);
		cursor: default; 
	}
}

.badge-minutes {
  margin-top: -10px;
  font-size: .8em;
}

.wanderer {
	background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
	color: #ffb300;
}

.excursionist {
	background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
	color: #f68401;
}

.sightseer {
	background: linear-gradient(to bottom right, #F48FB1 0%, #d81b60 100%);
	color: #dc306f;
}

.rover {
	background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
	color: #c62828;
}

.pathfinder {
	background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
	color: #7127a8;
}

.orienteer {
	background: linear-gradient(to bottom right, #4DB6AC 0%, #00796B 100%);
  color: #34a297;
}

.adventurer {
	background: linear-gradient(to bottom right, #4FC3F7 0%, #2196F3 100%);
  color: #259af3;
}

.voyager {
	background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%);
  color: #1c68c5;
}

.discoverer {
	background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
	color: #7cb342;
}

.explorer {
	background: linear-gradient(to bottom right, #4CAF50 0%, #1B5E20 100%);
  color: #00944a;
}

.trailblazer {
	background: linear-gradient(to bottom right, #E0E0E0 0%, #8d8d8d 100%);
  color: #8d8d8d;
}

.wayfarer {
	background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
    color: #b7892b;
}

.navigator {
	background: linear-gradient(to bottom right, #ff3bf5 0%, #9b0093 100%);
	color: #9b0093;
}

.globetrotter {
	background: linear-gradient(to bottom right, #ff7f07 0%, #834a00 100%);
	color: #834a00;
}

.argonaut {
	background: linear-gradient(to bottom right, #b67fff 0%, #2f0055 100%);
	color: #2f0055;
}


