.trx-tile {
  background-color: white;
  margin: 0.5em;
  box-shadow: $box-shadow-sm;
  border-radius: 10px;
  height: 125px;
  width: 300px;
}

.trx-tickets {
  font-weight: bold;
  font-size: 1.2em;
}

.trx-tile-left {  
  background-color: $violet;
  color: white;
  border-radius: 10px 0 0 10px; 
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}

.trx-tile-right {
  height: 125px;
  position: relative;
}

.trx-tile-right-content {
  padding: 1em;
  height: 125px;
  max-width: 200px;
  overflow: hidden;
}

.trx-date {
  font-weight: bold;
  font-size: 1em;
}

.trx-des {
  font-size: 1em;
  line-height: 120%;
}

.ticket-icon-wrapper {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.ticket-pen-icon, .ticket-trash-icon {
  margin: 0 3px -4px 3px;
  color: $portland-orange;
}