.trx-tile {
  border: 2px solid $secondary;
  width: 300px;
  background-color: $light-secondary;
  color: $line;
  margin: 1em;
  padding: .85em 1em;
  box-shadow: $box-shadow;
}

.tile-top {
  display: flex;
  justify-content: space-between;
}

.trx-date {
  font-weight: bold;
}

.trx-tickets {
  font-weight: bold;
}

.trx-des {
  font-size: 2em;
}
/*
$hole: .4em; 
$bg: yellow;
.trx-tile {
  height: 2em;
  width: 300px;
  padding: 1em;
  margin: 1em;
  color: black;
  font-size: 16px;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 50%, rgba($bg,0) $hole, $bg ($hole + .1em)), radial-gradient(circle at 100% 50%, rgba($bg,0) $hole, $bg ($hole + .1em));
  background-position: top left, top right;
}*/