.trx-tile {
  background-color: white;
  margin: 0.5em;
  box-shadow: $box-shadow-sm;
  border-radius: 10px;
  height: 100px;
  width: 240px;
}

.trx-tickets {
  font-weight: bold;
  font-size: 1.2em;
}

.trx-tile-left {  
  background-color: $violet;
  color: white;
  border-radius: 10px 0 0 10px; 
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.trx-tile-right-content {
  padding: 1em;
  max-width: 200px;
  overflow: hidden;
}

.trx-date {
  font-weight: bold;
  font-size: 1em;
}

.trx-des {
  font-size: 1em;
  line-height: 120%;
}
