.app-topbar {
  background-color: white;
  box-shadow: $box-shadow-lg;
  ul {
    background-color: white;
  }
}

.sign-in-link {
  color: $purple;
}

.calendar-icon, .ticket-icon, .book-icon, .home-icon {
  margin: .5em;
  color: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: .5em;
  width: 4em;
  height: 4em;
}

.cal-container {
  background-color: $bright-pink; 
}

.cal-container:hover {
  background-color: $bright-pink-secondary;
}

.ticket-container {
  background-color: $bright-blue; 
}

.ticket-container:hover {
  background-color: $bright-blue-secondary; 
}

.book-container {
  background-color: $bright-green; 
}

.book-container:hover {
  background-color: $bright-green-secondary; 
}

.home-container {
  background-color: $purple; 
}

.home-container:hover {
  background-color: $purple-secondary; 
}

.sign-out-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  background-color: $purple; 
  margin: 0 1em;
  border-radius: 30px;
}

.menu-btn:hover {
  background-color: $purple-secondary; 
}

.app-text {
  color: $purple;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}
