.app-topbar {
  background-color: white;
  box-shadow: $box-shadow-lg;
  ul {
    background-color: white;
  }
}

.sign-in-link {
  color: $ksu-purple;
}

.calendar-icon, .ticket-icon, .book-icon, .home-icon {
  margin: .5em;
  color: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: .5em;
  width: 4em;
  height: 4em;
}

.cal-container {
  background-color: $portland-orange; 
}

.cal-container:hover {
  background-color: darken($portland-orange, 15%);
  cursor:pointer;
}

.book-container {
  background-color: $brick-red; 
}

.book-container:hover {
  background-color: darken($brick-red, 15%);
  cursor:pointer;
}

.ticket-container {
  background-color: $fandango; 
}

.ticket-container:hover {
  background-color: darken($fandango, 15%); 
}

.medal-container {
  background-color: $violet; 
}

.medal-container:hover {
  background-color: darken($violet, 15%);
  cursor:pointer;
}

.home-container {
  background-color: $ksu-purple;
}

.home-container:hover {
  background-color: darken($ksu-purple, 15%);
  cursor:pointer;
}

.sign-out-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  background-color: $ksu-purple; 
  margin: 0 1em;
  border-radius: 30px;
}

.menu-btn:hover {
  background-color: darken($ksu-purple, 15%);
  cursor:pointer;
}

.app-text {
  color: $portland-orange;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0 .5em 0 1em;
  span {
    color: $ksu-purple;
    font-weight:bold;
  }
}

.nav-right {
  display: flex;
  align-items: center;
}