@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./stylesheets/Colors.scss";
@import "./stylesheets/Fonts.scss";
@import "./stylesheets/HomePage.scss";
@import "./stylesheets/Calendar.scss";
@import "./stylesheets/ReadingSessions.scss";
@import "./stylesheets/ReadingSessionTile.scss";
@import "./stylesheets/TopBar.scss";
@import "./stylesheets/TicketTransactionTile.scss";
@import "./stylesheets/TicketPage.scss";
@import "./stylesheets/Bookshelf.scss";
@import "./stylesheets/SignInOrUp.scss";
@import "./stylesheets/AchievementsPage.scss";
@import "./stylesheets/SmallRankBadge.scss";
@import "./stylesheets/MainRankBadge.scss";
@import "./stylesheets/Medal.scss";
@import "./stylesheets/MedalsPanel.scss";
@import "./stylesheets/StreaksPanel.scss";
@import "./stylesheets/ProfilesPage.scss";
// place global css here

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: $sans-serif;
  background: $web;
}

.page-header {
  font-size: 2.8em;
  font-family: $headline;
  text-align: center;
  margin: .5em;
  color: $indigo;
}

label {
  color: black;
  font-size: 1.2em;
}

.input-div {
  width: 60%;
}

.app-btn {
  padding: .7em 2.5em;
  margin: 0;
  border: none;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  box-shadow: $box-shadow-sm;
  background-color: $portland-orange;
}

.app-btn:hover {
  background-color: darken($portland-orange, 15%);
  color: white;
  cursor: pointer;
}


